{% extends 'base.html' %}


{% block title %}
    Poll details - {{poll}}
{% endblock title %}
    

{% block content %}
<div class="container my-5 py-5 pb-5 d-flex justify-content-center align-items-center" style="min-height: 25rem;">
    <div class="col-md-10 offset-md-1 shadow p-5 my-5">
        {% if messages %}
        <div class="alert alert-dismissible">
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <h1 class="text-center">Polls Details</h1>
        <hr>
        <h2 class="mt-3 mb-3">{{ poll }}</h2>
        <form action="{% url 'polls:vote' poll.id %}" method="POST">
            {% csrf_token %}
            {% for choice in poll.choice_set.all %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}"
                    value="{{ choice.id }}">
                <label class="form-check-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-3">Vote</button>
            <a class="btn btn-warning mt-3" href="{% url 'polls:home' %}" role="button">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}