{% extends 'base.html' %}


{% block title %}
Edit your poll
{% endblock title %}


{% block content %}
<div class="container my-5 py-5 pb-5" style="min-height: 25rem;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="col-md-12">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center">Edit Poll</h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            {{ field.errors }}
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                        <div class="d-flex justify-content-between flex-wrap">
                            <button type="submit" class="btn btn-primary m-1"><i class="fas fa-check text-light"></i>
                                Update</button>
                            <a class="btn btn-danger m-1" href="{% url 'polls:delete_poll' poll.id %}" role="button"
                                onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i> Delete</a>
                            <a class="btn btn-warning m-1" href="{% url 'polls:add_choice' poll.id %}" role="button"><i
                                    class="fas fa-plus"></i> Add Choice</a>
                            <a href="{% url 'polls:home' %}" class="btn btn-warning m-1" role="button"><i
                                    class="fas fa-backward"></i> Back</a>
                        </div>
                    </form>

                    <div class="choices mt-4">
                        <h2 class="text-center">Choices</h2>
                        <hr>
                        <ul class="list-group">
                            {% for choice in poll.choice_set.all %}
                            <li class="list-group-item">
                                <a href="{% url 'polls:choice_edit' choice.id %}"
                                    class="btn btn-outline-primary btn-sm float-end"><i
                                        class="fas fa-pencil-alt"></i></a>
                                {{ choice.choice_text }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}