<footer class="footer text-light bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="my-3 py-2 pb-4">
          <h3 class="text-center mb-4">Connect with us</h3>
          <div class="d-flex justify-content-around">
            <a href="https://www.linkedin.com/in/moti9/" target="_blank" class="btn btn-primary btn-social">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/moti9" target="_blank" class="btn btn-primary btn-social">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://twitter.com/moti_kumar_" target="_blank" class="btn btn-primary btn-social">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/moti9_m/" target="_blank" class="btn btn-primary btn-social">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="my-3 py-2 pb-2">
          <h3 class="text-center mb-4">Useful Links</h3>
          <ul class="list-unstyled d-flex justify-content-center p-2">
            <li class="mx-2 fw-bold"><a href="/home">Home</a></li>
            <li class="mx-2 fw-bold"><a href="/about">About</a></li>
            <li class="mx-2 fw-bold"><a href="/services">Services</a></li>
            <li class="mx-2 fw-bold"><a href="/blog">Blog</a></li>
            <li class="mx-2 fw-bold"><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="my-3 py-2 pb-2">
          <h3 class="text-center">Contact Information</h3>
          <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
          <ul class="list-unstyled contact-info">
            <li class="my-2"><i class="fas fa-envelope"></i> Email: <a
                href="mailto:info@yourdomain.com">help@votingapp.com</a></li>
            <li class="my-2"><i class="fas fa-phone"></i> Phone: +11 987-326-4249</li>
            <li class="my-2"><i class="fas fa-map-marker-alt"></i> Address: 123 Main Street, Bhagalpur, Bihar, India</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>