<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
     <a class="navbar-brand mx-2" href="{% url 'home' %}"><i class="fas fa-poll"></i></a>
    {% comment %} <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"> {% endcomment %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
             <li class="nav-item active"> 
                 <a class="nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a> 
             </li> 
            {% if request.user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link active" href="/polls">Polls</a>
            </li>
            {% endif %}
        </ul>
        <div class="navbar-nav ms-auto">
            {% if request.user.is_authenticated %}
            {% comment %} <a class="nav-link" href="{% url 'polls:list_by_user' %}">My Polls</a> {% endcomment %}
            <a class="nav-link active" href="{% url 'polls:list_by_user' %}">My Polls</a>
            <a class="nav-link active" href="{% url 'accounts:logout' %}">Logout</a>
            {% else %}
                <a class="nav-link active float-right" href="{% url 'accounts:login' %}">Login</a>
                <a class="nav-link active float-right" href="{% url 'accounts:register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>