{% extends 'base.html' %}


{% block title %}
    Welcome to VotingApp registration
{% endblock title %}
    

{% block content %}
<div class="container my-5 py-5 pb-5" style="min-height: 25rem;">
    <div class="row my-5 py-5 pb-5 d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="col-md-12">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="text-center mb-4">Sign Up for VotingApp</h3>
                    <p class="text-center">Already have an account? <a href="{% url 'accounts:login' %}">Login Here</a>
                    </p>
                    <div class="col-md-12">
                        {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                            <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                            <div class="text-danger">
                                {% for error in field.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary btn-block my-2">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}