{% extends 'base.html' %}

{% block title %}
Send Verification Code
{% endblock title %}

{% block content %}
<div class="container my-5 py-5 pb-5" style="min-height: 25rem;">
    <div class="row my-5 py-5 pb-5 d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="col-md-12">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="text-center my-3">Send Verification Code</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter Email" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block my-2">Send Code</button>
                            <p>Already have a code? <a href="{% url 'accounts:verify_email' %}">Verify now</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}