{% extends 'base.html' %}

{% block title %}
Verify your account
{% endblock title %}

{% block content %}
<div class="container my-5 py-5 pb-5" style="min-height: 25rem;">
    <div class="row my-5 py-5 pb-5 d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="col-md-12">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if email_verification.is_active %}
            <div class="alert alert-success text-center my-4">
                Your email has already been verified.
            </div>
            {% else %}
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="text-center mb-3">Verify Email</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <p class="text-center">Please enter the verification code that was sent to your email address:
                        </p>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter Email" required>
                        </div>
                        <div class="form-group">
                            <label for="code">Code</label>
                            <input type="text" class="form-control" name="code" placeholder="Enter Code" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block my-2">Verify</button>
                            <p>Don't have a code? <a href="{% url 'accounts:send_verification_code' %}">Get verification
                                    code</a></p>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}